.banner {
  background: linear-gradient(to right, #151515 0%, rgba(21, 21, 21, 0) 100%),
    url(../../../assets/header-bg-1.jpg);
  min-height: 92vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.5s ease-in-out;
  animation: change 10s infinite ease-in-out;
  overflow: hidden;
}

@keyframes change {
  50% {
    background-image: linear-gradient(
        to right,
        #151515 0%,
        rgba(21, 21, 21, 0) 100%
      ),
      url(../../../assets/header-bg-2.jpg);
  }
  75% {
    background-image: linear-gradient(
        to right,
        #151515 0%,
        rgba(21, 21, 21, 0) 100%
      ),
      url(../../../assets/header-bg-3.jpg);
  }
}
